.navbar{
  width: 100%;
  height: 70px;
  background-color: #fff;
}

.navbar .left-navbar .left-ul{
  margin-top: 25px;
  padding-left: 130px;
  display: flex;
  float: left;
  list-style: none;
}

.navbar .left-navbar .left-ul li a img{
  padding-top: 5px;
  width: 200px;
  height: 30px;
}

.navbar .left-navbar .left-ul li{
  margin-right: 40px;  
}


.navbar .left-navbar .left-ul  li a.list-links{
  display: flex;
  border-radius: 3px;
  text-decoration: none;
  font-weight:  bold;
  color: black;
  padding: 6px 10px;
  padding-left: 50px;
}

.navbar .left-navbar .left-ul li a.list-links p.arrow{
  padding-left: 40px;
  margin-top: 2px;
  margin-bottom: 2px;
}


.navbar .left-navbar .left-ul li a.list-links:hover{
  background-color: rgb(124, 123, 123);
}

.navbar .right-navbar{
  padding-top: 3px;
}

.navbar .right-navbar .right-ul{
  margin: 25px;
  padding-right: 130px;
  display: flex;
  float: right;
  list-style: none;
}

.navbar .right-navbar .right-ul li{
  margin-left: 25px; 
}

.navbar .right-navbar .right-ul li a.right-links{ 
  font-size: 18px;
  font-weight: bold;
  border-radius: 3px;
  text-decoration: none;
  color: rgb(13, 17, 248);
  padding: 10px 10px;
}

.navbar .right-navbar .right-ul li a.right-links:hover{
  background-color: lightgray;
}

.navbar .right-navbar .right-ul li a.right-bulinks{
  font-size: 16px;
  font-weight: 700;
  border-radius: 8px;
  text-decoration: none;
  color: #fff;
  padding: 8px 10px;
  background-color: blue;
}
.navbar .right-navbar .right-ul li a.right-bulinks:hover{
  background-color: rgb(133, 133, 136);
}

.navbar .right-navbar .right-ul li.right-links-line {
  color: rgb(5, 5, 5);
  font-size: 20px;
}

.main-page{
  width: 100%;
  position: relative;
}

.main-page img.main-image{
  display: block;
  width: 100%;
  height: 800px;
}

.main-page .info{
  position: absolute;
  top: 15%;
  left: 10%;
  color: white;
  text-align: left;
  
}

.main-page .info h1{
  font-size: 90px;
}

.main-page .info p{
  font-size: 40px;
}

.main-page .info button.learn-more{
  border-radius: 8px;
  padding: 10px 20px;
  background-color: orange;
}
.main-page .info button.learn-more:hover{
  background-color: rgb(197, 132, 13);
}